# Port aplikasi (opsional, default: 8000)
PORT=8000

# Connection string MongoDB Atlas gratis Anda (kosongkan jika ingin menggunakan bookings.json lokal)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/siperu?retryWrites=true&w=majority
